body { background: #2e417e; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 28px; display: flex; }
.block-metrics-0 { color: #a7643c; font-size: 21px; margin-bottom: 5px; }
.block-cart-1 { color: #9db6a6; font-size: 19px; margin-bottom: 5px; }
.block-validator-2 { color: #933405; font-size: 19px; margin-bottom: 5px; }
.block-search-3 { color: #bddfd3; font-size: 17px; margin-bottom: 5px; }
.block-email-4 { color: #72c887; font-size: 21px; margin-bottom: 5px; }
.block-uploader-5 { color: #e6f2e6; font-size: 12px; margin-bottom: 5px; }
.block-cart-6 { color: #d90499; font-size: 20px; margin-bottom: 5px; }